@import url('https://fonts.cdnfonts.com/css/cascadia-code');

body {
    background-color: rgb(20, 20, 20);
    overflow-x:hidden;
    
}



#menu {
    height: 100vh;
    display: flex;
    width: 100vw;
    align-items: center;
    margin-bottom: 200px;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.menu-item {
    color: white;
    font-size: clamp(3rem, 8vw, 4rem);
    font-family: "Ibarra Real Nova", serif;
    display: block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
    margin-left: 50px ;
    transition: opacity 400ms ease, transform 0.5s ease;
}
#menu-items{
    margin-left: clamp(4rem, 25vw, 48rem);
    position: relative;
    z-index: 2;
}

#menu-items:hover > .menu-item{
    opacity: 0.3;
}

#menu-items:hover > .menu-item:hover {
    opacity: 1;
    transform: translateY(-5px);
}


.background-items {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    color: gray;
    font-family: "Cascadia code", serif;
    font-size: 3vw;
    position: absolute;
    z-index: 1;
    
    margin-left: clamp(4rem, 3vw, 48rem);
    padding: clamp(3rem, 4vw, 5rem) 0rem;
    opacity: 1; /* Default opacity */
    transform: translateX(0); /* Default position */
    transition: transform 1s ease, opacity 0.4s ease; /* Combine transitions */
}

.reduce-opacity-and-move-left {
    opacity: 0.3;
    transform: translateX(-1vw);
    transition: transform 1s ease, opacity 0.4s ease;
}

.move-right {
    transform: translateX(1vw);
    transition: transform 1s ease;
}

.move-nothing{
    transform: translateX(0);
    transition: transform 1s ease;
}

.navbar{
    display: flex;
    align-items: center;
    height: 10vh;
    position: relative;
    background-color: grey;
    z-index: 3;
    font-family: "Ibarra Real Nova", serif;
    font-size: clamp(1rem, 2vw, 3rem);
    background: rgb(20, 20, 20);
    border-bottom: 2px solid white;
    padding: 0px;
    margin: 0px;
}



#menu[data-active-Index="0"] > .background-items{
    transform: translateY(17%); 
}

#menu[data-active-Index="1"] > .background-items{
    transform: translateY(8%);

}

#menu[data-active-Index="2"] > .background-items{
    transform: translateY(0);
}

#menu[data-active-Index="3"] > .background-items{
    transform: translateY(-8%);
}

#menu[data-active-Index="4"] > .background-items{
    transform: translateY(-17%);
}

#arrows{
    color: gray;
    font-family: "Cascadia code", serif;
    font-size: clamp(3rem, 2vw, 4rem);
    z-index: 1;
    margin-left: clamp(6vw, 10vw, 12vw);
    padding: 0px;

}

@keyframes wave {
    0%, 20% {
        transform: translateY(0); /* All arrows at the top */
    }
    40% {
        transform: translateY(50px); /* The current arrow moves down */
    }
    60% {
        transform: translateY(0); /* Current arrow returns to the top */
    }
}

.arrows {
    display: flex;
    flex-direction: column;
    gap: 0; /* No gap between arrows */
}

.arrows > .arrow {
    display: flex;
    align-items: center;
    width: 100px;
    height: 100px; /* Adjust height to fit content */
    margin: 0; /* Ensure no additional margins */
    padding: 0; /* Ensure no extra padding */
}

.arrow-char{
    transform: rotate(90deg);
    
}

/* Assign animations to each arrow with staggered delays */
.arrows > .arrow:nth-child(1) {
    animation: wave 3s ease-in-out infinite; /* Change duration to 3s */
}

.arrows > .arrow:nth-child(2) {
    animation: wave 3s ease-in-out infinite;
    animation-delay: 0.5s; /* Adjust delay accordingly */
}

.arrows > .arrow:nth-child(3) {
    animation: wave 3s ease-in-out infinite;
    animation-delay: 1s; /* Adjust delay accordingly */
}

.arrows > .arrow:nth-child(4) {
    animation: wave 3s ease-in-out infinite;
    animation-delay: 1.5s; /* Adjust delay accordingly */
}

.arrows > .arrow:nth-child(5) {
    animation: wave 3s ease-in-out infinite;
    animation-delay: 2s; /* Adjust delay accordingly */
}

#transition-1{
    display: flex;
    width: 100vw;
    height: 1000px;
    background: linear-gradient(to bottom, rgb(20,20,20), #e6e6e6);
    /* border: 2px solid white; */
    padding-bottom: 100px;
    justify-content: center;
    overflow: hidden;
}

#section-container{
    display: flex;
    height: auto;
    background-color: #e6e6e6;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    
}

#section-container > .about-me{
    font-size: clamp(1rem, 1.2vw, 4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70vw;
    height: 500px;
    margin-bottom: 100px;
    transition: box-shadow 1s ease;

}

.translate-up{
    transform: translateY(-5px);
    transition: transform 1s ease;
}

#section-container > .about-me:hover{   
    box-shadow: 20px 20px 20px black, -20px -20px 20px white;
    transition: box-shadow 1s ease;
}

#section-container > .about-me > .title{
    font-family: 'Cascadia Code', sans-serif;
    font-size: clamp(3rem, 2vw, 4rem);
}

#section-container > .about-me > .content {
    font-family: 'Cascadia Code', sans-serif;
    padding: 20px;
} 

#transition-2{
    width: 100vw;
    height: 1000px;
    background: linear-gradient(to bottom, #e6e6e6, rgb(20, 20, 20));
}

#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    width: 100vw;
    height: auto;
    background-color:  rgb(20, 20, 20);
    /* border: 4px solid red; */
    

    position: relative;
    z-index: 0;
}
#projects > .section-card {
    font-size: 1vw;
    color: white;
    font-family: 'Cascadia Code', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12vw;
    height: 4vw;
    padding: 10px;
    background-color: #1c1f2b;
    border-radius: 10px;
    margin-left: 10vw;
    align-self: flex-start;


}
#projects > .section-card::after, .section-card::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1; /* Ensure pseudo-elements are behind the main element */
    padding: 3px;
    border-radius: 10px;
    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095);
    animation: 3s spin linear infinite;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}
@keyframes spin {
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}

#projects > .section-card::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

#projects > .projects-container{
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: space-evenly;
    margin-top: 50px;
    width: 80vw;
    height: auto;
    border-radius: 10px;
    background-color: grey;
    flex-wrap: wrap;
    gap: 20px;
    
    background-image: url(../data/img/coding-bg.png);

    margin-bottom: 100px;

}

#projects > .projects-container::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 5px;
    border-radius: 10px;

    background-image: conic-gradient(from var(--angle), #ff4545, #00ff99, #006aff, #ff0095);
    animation: 3s spin linear infinite;  
}


#projects > .projects-container > .project{
    position: relative;
    color: white;
    height: 400px;
    width: 300px;
    /* border: 2px solid ; */
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0);
    border-top: 1px solid rgba(255,255,255, 0.4);
    border-left: 1px solid rgba(255,255,255, 0.3);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.089);
    transition: backdrop-filter 1s ease, background-color 1s ease;
    backdrop-filter: blur(5px);    

    font-family: 'Cascadia Code', sans-serif;
}

#projects > .projects-container > .project > .project-image{
    position: absolute;
    width: 280px;
    height: 150px;
    border: 1px solid wheat;
    top: 10px;
    left: 10px;
    border-radius: 10px;
}

#projects > .projects-container > .project > .project-title{
    position: absolute;
    width: 260px;
    height: 45px;
    overflow: hidden;
    top: 160px;
    left: 20px;

}

#projects > .projects-container > .project > .project-description{
    position: absolute;
    top: 225px;
    left: 10px;
    width: 280px;
    height: 100px;

}

#projects > .projects-container > .project > .button{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 30px;
    top: 360px;
    left: 85px;
    border: 1px solid wheat;
    border-radius: 10px ;
}
#projects > .projects-container > .project:hover{
    backdrop-filter: blur(35px);
    transition: backdrop-filter 1s ease, background-color 1s ease;
    background-color: rgba(0, 0, 0, 0.2);

}
#projects > .projects-container > .project > .button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

#section-container > #transition-3{
    display: flex;
    width: 100vw;
    height: 1000px;
    background: linear-gradient(to bottom, rgb(20,20,20), #e6e6e6);
    /* border: 2px solid white; */
    padding-bottom: 0px;
    justify-content: flex-start;
    overflow: hidden;
    margin: 0px;
}

#transition-3 > .line-1{
    width: 50px;
    height: 1500px;
    border-left: 5px solid rgb(20, 20, 20);
    border-bottom: 5px solid rgb(20, 20, 20);
    margin-left: 20vw;
    border-radius: 0 0 0 20px;
}

#education{
    width: 100vw;
    height: 1000px;
    background-color: #e6e6e6;
    display: flex;
    align-items: center;
    flex-direction: column;
}
#education > .lines{
    width: 100vw;
    height: auto;
}

#education > .lines > .line-2{
    width: calc(60vw - 20px);
    height: 100px;
    border-left: 5px solid rgb(20, 20, 20);
    border-bottom: 5px solid rgb(20, 20, 20);

    margin-left: 20vw;
    border-radius: 0 0 0 20px;
}

#education > .lines > .line-3{
    position: relative;
    display: flex;
    width: 20px;
    height: 100px;
    border-right: 5px solid rgb(20, 20, 20);
    border-top: 5px solid rgb(20, 20, 20);
    margin-top: -5px;
    margin-left: calc(80vw - 20px);
    border-radius: 0 20px 0 0;
}

#education > .education-cards{
    z-index: 0;
}

#education > .education-cards > .title-card{
    position: relative;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px rgb(20, 20, 20) solid;
    border-radius: 10px;
    margin-left: 60vw;
    background-color: #beedf4;
    z-index: 3;

    transform: translate(5%, -120%);

}



#education > .education-cards > .title-card > .content{
    font-family: 'Cascadia Code', sans-serif;
    font-size: 2rem;

}

#education > .education-cards > .background-card-1{
    position: relative;
    width: 200px;
    height: 100px;
    /* border: 2px solid red; */
    background-color: #67c8d5;

    padding: 5px;
    border-radius: 10px;
    transform: translate(7%, -10%);
    z-index: 1;
    margin-left: 60vw;
    box-shadow: 3px 3px 3px black;
}