<head>
    <link rel="stylesheet" href="../static/style.css">

</head>

<body>
    <nav class="navbar ">
        <div class="container" style="margin-top: 0px; margin-bottom: 0px;">
            <p style="margin-left: 1vw; color: white;" >Trần Tây's portfolio</p>
        </div>
    </nav>
    <div id="menu">
        
        <div id="menu-items">
            <a href="/" class="menu-item about-me" >About me</a>
            <a href="/" class="menu-item projects" >Projects</a>
            <a href="/" class="menu-item education" >Education</a>
            <a href="/" class="menu-item experience">Experience</a>
            <a href="/" class="menu-item contact">Contact</a>
        </div>

        <div id="background-items" class="background-items">
            <p class="background-item about-me">Giới thiệu</p>
            <p class="background-item projects">Dự án</p>
            <p class="background-item education">Giáo dục</p>
            <p class="background-item experience">Kinh nghiệm</p>
            <p class="background-item contact">Liên hệ</p>
        </div>

        <div id="arrows" class="arrows">
            <div class="arrow">
                <h1 class="arrow-char" >></h1>
            </div>
            <div class="arrow">
                <h1 class="arrow-char" >></h1>
            </div>
            <div class="arrow">
                <h1 class="arrow-char" >></h1>
            </div>
            <div class="arrow">
                <h1 class="arrow-char" >></h1>
            </div>
            <div class="arrow">
                <h1 class="arrow-char" >></h1>
            </div>
        </div>
    </div>

    <div id="transition">
        
    </div>

    <div id="section-container">
        <div id="about-me" class="about-me">
            <h1 class="title">Giới thiệu</h1>
            <p class="content"></p>
        </div>
        <div id="projects" class="projects"></div>
        <div id="education" class="education"></div>
        <div id="experience" class="experience"></div>
        <div id="contact" class="contact"></div>
    </div>
    <script src="../static/script.js"></script>
</body>
